/*!


 *
 * Hovedprosjekt - Gruppe: No.
 * 
 * Gruppemedlemmer:
 * 
 * 
 * 
 * 
 * 
 * 
 *


*/
@import "bootstrap";

body {
    padding: 50px 0;
}
#main {
    
}

#intro-wrap {
    height: 400px;    
}

.intro-boxes {
    height: 100%;
}

#first-intro {
	background: red;
}

#second-intro {
	background: blue;
}

#third-intro {
	background: green;
}

#forth-intro {
	background: yellow;
}


